version: 0.1.{build}
image: Visual Studio 2015
environment:
  matrix:
  - GENERATOR: '"Visual Studio 14 2015"'
    BUILD_TYPE: Release
init:
- git config --global core.autocrlf true
install:
- git submodule update --init --recursive
build_script:
- cmd: >-
    mkdir build

    cd build

    cmake .. -G %GENERATOR% -DCMAKE_BUILD_TYPE=%BUILD_TYPE%

    cmake --build . --config %BUILD_TYPE%
test: off